@import "rouge-codestyle";
@import "default_colors";

$content-width: 1000px !default;
$side-bar-width: 300px !default;

body {
	background-color: $dark-pink;
}

.container {
  display: flex;
  justify-content: center;
  background-color: $shelf;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.left-bar {
  min-width: $side-bar-width;
  border-radius: 20px 0px 0px 20px;
  background: $sky;
}

#my-logo img {
    width: $side-bar-width - 100px;
    border-radius: 50%;
    border: 5px solid wheat;
}

/* Right-bar */
.right-bar {
  min-width: $side-bar-width;
  border-radius: 0px 20px 20px 0px;
  background: $sky;
}

.content {
  width: $content-width;
  min-height: 800px;
  padding: 40px 20px 150px;
  background: $paper;
  overflow:hidden;
}

.post-right {
    background-color: $sky;
    position: fixed;
    border-radius: 20px;
    padding-top: 100px;
}

.menu-container {
    padding: 10px;
    padding-top: 30px;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border: 5px ridge;
    overflow: hidden;
    width: $side-bar-width - 40px;
}

.menu-container > .title{
  font-size: 1rem;
  top: 93px;
  padding: 0 6px;
  color: inherit;
  position: absolute;
  background-color: $sky;
  color: inherit;
}

#menu {
  display: flex;
  flex-direction: column;
}

#menu input[type="radio"] {
  visibility: hidden;
}

#menu input[type="radio"]::before {
  visibility: visible;
  content: "";
  animation: blink 1s infinite steps(1);
}

#menu input[type="radio"]:checked::before {
  visibility: visible;
  content: ">";
}

#menu a:visited { 
font-size: 16px; 
color: #000000; 
text-decoration: none; 
}

#menu a:link { 
font-size: 16px; 
color: #000000; 
text-decoration: none; 
}

.menu-index-h2 {
  margin-left: 1em;
}
.menu-index-h3 {
  margin-left: 2em;
}
.menu-index-h4 {
  margin-left: 3em;
}
.menu-index-h5 {
  margin-left: 4em;
}
.menu-index-h6 {
  margin-left: 5em;
}


/* 博客内容 */
p {
  text-indent: 2em;
}

blockquote {
    color: #aaa;
    border-left: 2px solid #888;
}

.container img{
	max-width: 90%;
}


/* 表格相关 */
table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #cbcbcb;
}

td, th {
  border: 1px solid #cbcbcb;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: .5em 1em;
}

thead {
  background-color: #e0e0e0;
  color: #000;
  text-align: left;
  vertical-align: bottom;
}

td {
  background-color: transparent;
}

td {
  border-bottom: 1px solid #cbcbcb;
}

// 导航栏
#header-bar {
	color: $paper;
	margin-top:20px;
	margin-bottom:20px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	display: flex;
	max-width: $content-width + $side-bar-width / 2;
    height: 120px;
	background-color: $dark-pink;
}

#header-bar .site-title {
  flex: auto;
  align-self: flex-start;
}

.tag-cloud a,
.dark-button,
.button {
  cursor: pointer;
  outline: none;
  padding: 8px 12px 15px;
  border: none;
  position: relative;
  text-decoration:none;
  background-color: $paper;
  box-shadow: inset -8px -8px 0 0 #ADAFBC;
}

.button::before,
.button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 4px solid;
  border-color: $pink;
  box-sizing: content-box;
}

.tag-cloud a::before,
.tag-cloud a::after,
.dark-button::before,
.dark-button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 4px solid;
  border-color: $dark-pink;
  box-sizing: content-box;
}

.tag-cloud a::before,
.button::before,
.dark-button::before {
  top: -4px;
  left: 0;
  border-left: 8px;
  border-right: 8px;
}

.tag-cloud a::after,
.button::after,
.dark-button::after {
  top: 0;
  left: -4px;
  border-top: 8px;
  border-bottom: 8px;
}

.tag-cloud a:link,
.tag-cloud a:visited,
.dark-button:link,
.dark-button:visited,
.button:link,
.button:visited {
  color: $potters-clay;
  text-decoration:none;
  background-color: $paper;
  box-shadow: inset -8px -8px 0 0 #ADAFBC;
}

.tag-cloud a:hover,
.dark-button:hover,
.button:hover {
  background-color: #e7e7e7;
  box-shadow: inset -8px -8px 0 0 #ADAFBC;
}

.tag-cloud a:active,
.dark-button:active,
.button:active {
  color: $dark-pink;
  background-color: #e7e7e7;
  box-shadow: inset 8px 8px 0 0 #ADAFBC;
}

#header-bar .site-nav{
    display: flex;
	flex: auto;
	flex-grow: 0;
	align-self: flex-end;
}

#footer-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
	color: $paper;
    height: 120px;
	padding-top: 1px;
	background-color: $dark-pink;
}

//友链相关
.friend-link-list {
    display: flex;
    flex-wrap: wrap;
    width: $content-width;
    flex-direction: row;
    justify-content: center;
}

// 目录展示
.post-list-view {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-list {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    min-height: 1000px;
}

.post-item {
    min-height: 120px;
    padding-left: 2em;
    margin-top: 10px;
}

.post-item a{
    text-decoration: none;
    margin-bottom: 10px;
}

.post-item li {
    list-style-type: none;
}

.post-pagination .previous{
    text-decoration: none;
}

.post-pagination .next{
    text-decoration: none;
}

.post-excerpt {
    font-weight: lighter;
    color: $shelf;
    text-overflow: -o-ellipsis-lastline;  
    overflow: hidden;  
    text-overflow: ellipsis;  
    display: -webkit-box;  
    -webkit-line-clamp: 2;  
    -webkit-box-orient: vertical;
}

.tag-cloud {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
    margin-top: 30px;
}

.right-bar .tag-cloud {
    max-width: $side-bar-width - 60px;
}

// 动画
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}