<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
<title>{{site.title}}</title>
<link rel="shortcut icon" href="{{site.baseurl}}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet"
	href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
<script
	src="{{ '/assets/scripts/jquery-1.11.2.min.js?v=' | append: site.github.build_revision | relative_url }}"></script>
<script
	src="{{ '/assets/scripts/function.js?v=' | append: site.github.build_revision | relative_url }}"></script>
</head>
<body>

	{%- include header.html -%}

	<div class="container">
	
		{%- include leftBar.html -%} 
		{% assign posts = paginator.posts %}
		
        <div class="content" style="padding-bottom:20px">
			<div class="post-list-view">
                <div class="post-list">
					{%- for post in posts -%}
						<div class="post-item">
						    <h2>
						        <a class="post-link" href="{{ post.url | relative_url }}"> {{
						            post.title }} </a>
						    </h2>
						    <li>
						        {%- assign date_format = site.minima.date_format | default:"%b %-d, %Y" -%} 
						        <span class="post-meta">{{ post.date | date: date_format }}</span>
						    </li>
						    <li>
						        <span class="post-excerpt">{{ post.excerpt | strip_html }}</span>
						    </li>
						</div>
					{%- endfor -%}
				</div>
				{% if paginator.total_pages > 1 %}
				<div class="post-pagination">
	                {% if paginator.previous_page %} 
	                   <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="previous">Prev</a>
	                {% else %} 
	                   <span class="previous" class="previous">Prev</span> 
                    {% endif %} 
	                
	                <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span> 
	                
	                {% if paginator.next_page %} 
	                   <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="next">Next</a>
	                {% else%} 
	                   <span class="next">Next</span> 
                    {% endif %}
	            </div>
	            {% endif %}
			</div>
		</div>



		<div class="right-bar">
            <div class="tag-cloud">
                {% assign all_tags = site.posts | map: "tags" | uniq %}
				{% for tag in all_tags %}
					<a href="{{site.baseurl}}/tag/tag-detail?tag={{tag | downcase}}">{{tag}}</a>
				{% endfor %}
            </div>
		</div>
	</div>

	{%- include footer.html -%}

</body>
</html>