<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
<head>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/scripts/function.js?v=' | append: site.github.build_revision | relative_url }}"></script>
</head>
<body>

{%- include header.html -%}

<div class="container">
    {%- include leftBar.html -%}
    <div class="content">
        {%- for post in site.posts -%}
        <li>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <h3>
                <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title }}
                </a>
            </h3>
            {%- if site.show_excerpts -%}
            {{ post.excerpt }}
            {%- endif -%}
        </li>
        {%- endfor -%}
    </div>
    <div class="right-bar">
        
    </div>
</div>

{%- include footer.html -%}

</body>
</html>